<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Calculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Calculator.Properties.Settings>
            <setting name="Pos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>1000, 1000</value>
            </setting>
            <setting name="Input" serializeAs="String">
                <value />
            </setting>
            <setting name="State" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowWork" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OneInstance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputMode" serializeAs="String">
                <value>0</value>
            </setting>
        </Calculator.Properties.Settings>
    </userSettings>
</configuration>